html {
    background-color: #1a1a21 !important;
    margin: 2em;
    font-size: 100%;
}
h1{
    font-size: 50px;
    font-family: "Century Gothic", sans-serif;
    font-weight: 200px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #e7e6f0
}

h1.gradient{
    background: -webkit-linear-gradient(302deg, #a239d3 3%, rgba(180, 72, 215, 1) 16%, #c557db 29%, rgba(241,72,202,1) 48%, #ce4396 74%, #df76cb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6c5d4;
}

p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #b9b9c4;
    line-height: 1.5;
}

iframe{
    border: 0;
}

body{
    justify-content: center;
    place-content: center;
    align-items: center;
}

div{
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.center {
    text-align: center;
    justify-content: center;
    width: 50%;

}

a {
    color: #9357DB;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition:color .2s ease-out, background 2s ease-in;
  }
  a:hover { color:#bb418a; background: #434047; }


section {
    margin: 2rem;
}

.scalesvg{
    width: 80%;
}

::selection {
    color: whitesmoke;
    background: rgb(176, 53, 141);
  }
